.bg-color {
  background-color: #031434;
}

.bg-color span {
  text-decoration: none;
}

.bg-blue {
  background-color: #0a74dc;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.bg-sb {
  color: #a9c1ff;
}

.bg-lp {
  color: #ffa9ec;
}

.bg-sy {
  color: #fdffa9;
}

.navbar-light .navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
}

.navbar button:focus,
.navbar button:active {
  box-shadow: none;
}

@media (min-width: 992px) {
  .navbar,
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }

  .navbar .container-fluid,
  .navbar-expand-lg .navbar-collapse,
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    width: 15%;
    height: 120vh;
    align-items: flex-start;
  }
  .navbar-brand {
    margin-left: 17%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
