.col-auto {
  width: 18%;
}

.col-auto span {
  text-decoration: none;
}

.starsh {
  color: #a4a7b7;
  font-weight: 400;
  font-size: 16px;
}

table {
  border: 1px solid #dddddd;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-bottom-width: 1px;
  text-align: left;
  padding: 10px;
  color: #a4a7b7;
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}
